.head {
    width: 100%;
    height: 150px;
    backdrop-filter: blur(11px);
    border-bottom-right-radius: 45px;
    border-bottom-left-radius: 45px;
    background-color: rgba(255, 255, 255, 0.1);
    display: inline-block;
}
.head__logo {
    margin-left: calc(50% - 325px);
    width: 250px;
    height: 100px;
    margin-top: 25px;
}
.head__date-container {
    margin-top: 32px;
    margin-right: 64px;
    float: right;
    text-align: center;
}
.head__time {
    font-size: 48px;
}
.head__date {
    font-size: 24px;
}
.head__weather {
    display: grid;
    text-align: center;
    margin-top: 18px;
    margin-left: 125px;
    float: left;
}
.head__weather-icon {
    width: 75px;
}
.head__temperature {
    font-size: 32px;
}