.head{
    box-sizing: content-box;
    text-align: center;
    backdrop-filter: blur(5px);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgba(255, 255, 255, 0.05);
}
.title-text{
    padding: 15px;
    font-size: large;
}
  
.title-text i{
    font-size: 20px;
}
.title{
    display: flex;
    justify-content: center;
}

.head__time i{
    padding-right: 15px;
}

.head__time {
    padding-right: 15px;
    font-size: 24px;
    position: absolute;
    top:50%;
    transform: translate(0, -50%);
    right: 0;
}
.head__logo {
    width: 2em;
}