.navigation {
    margin: var(--app-margin-block);
    backdrop-filter: blur(11px);
    border-radius: var(--app-border-radius);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    height: calc(100% - var(--head-height) - 2 * var(--app-margin-block) - 40px); /* head size, margin top and bottom, padding */
    width: calc(var(--navigation-width) - 40px);
    float: left;
}
.navigation__container {
    overflow: overlay;
    height: 100%;
    width: 100%;
}
.navigation__section {
    text-align: center;
    margin-top: 10px;
}
.navigation__section-icon {
    width: 50px;
}
.navigation__section-line {
    height: 2px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    background: rgba(255, 255, 255, 0.2);
}
.navigation__section-text {
    font-size: calc(32px * var(--navigation-font-size));
}
.navigation__container::-webkit-scrollbar {
    width: 0;
}
.navigation__container::-webkit-scrollbar-track {
    background: unset;
}
.navigation__container::-webkit-scrollbar-thumb {
    background: unset;
}