.schedule {
    width: 600px;
    height: fit-content;
}

.tabs-head {
    width: 100%;
    display: flex;
}

.tabs-head__button {
    font-size: 1.5em;
    width: 100%;
    border: none;
    background: none;
}
.tabs-head__button--active {
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.tabs-body {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5px;
}
.tabs-body__button {
    font-size: 1.5em;
    width: 100%;
    border: none;
    background: none;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}
