.app {
    height: 100%;
}
.app__container {
    backdrop-filter: blur(1.5625em);
    font-size: 1vw;
    margin-top: 2.25em;
    margin-left: 18em;
    border-radius: 1.5em;
    background-color: rgba(255, 255, 255, 0.1);
    width: 80vw;
    height: calc(100% - 12.3vw);
}