.app {
    font-size: 24px;
    height: 100%;
}
.app__container {
    position: absolute;
    display: flex;
    align-items: center;
    top: 150px;
    left: 288px;
    width: calc(100% - 364px);
    height: calc(100% - 226px);
    padding: 38px;
}
.app__pack {
    overflow: hidden;
    backdrop-filter: blur(11px);
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    width: fit-content;
    max-width: 100%;
    height: fit-content;
    max-height: 100%;
    margin: auto;
}